* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #6580d9;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
header {
  text-align: center;
  font-size: large;
  font-weight: bold;
  margin: 1rem;
  padding: 0.5rem;
  font-family: "Courier New", Courier, monospace;
}

h2 {
  text-align: center;
  font-weight: bold;
  margin: 1rem;
  padding: 0.5rem;
  font-family: inherit;
}

.container {
  background-color: #bd64d8;
  width: 95%;
  height: 15rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 0.5rem;
  font: inherit;
  border: 1px, solid black;
  border-radius: 16px;
  box-shadow: 1px 2px black;
  margin-left: 1rem;
}
.lover-form {
  display: flex;
  padding: 0.5rem;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  font-weight: bold;
  font: inherit;
  margin-bottom: 0.5rem;
}

.result {
  background-color: #d8bd64;
  text-align: center;
  font-weight: bold;
  font: inherit;
  font-size: xx-large;
  animation: ease-in;
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 16px;
  box-shadow: 1px 2px black;
  transform: scale(1.1);
}
.result-hidden {
  display: none;
}
.container button {
  border-radius: 16px;
  border: 1px solid black;
  box-shadow: 1px 2px black;
  padding: 0.5rem;
  margin: 0.5rem;
}
.container button:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.container input {
  border-radius: 16px;
  text-align: center;
}
.container label {
  font-weight: 600;
  padding: 0.5rem;
  text-align: center;
}

.input {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.container input:focus {
  border-radius: 16px;
  border: 1px solid black;
}
